@font-face {
  font-family: "HighVoltage Heavy Rough";
  src: url("../assets/Modern\ Age.ttf") format("truetype");
  /* Agrega más formatos de archivo si es necesario */
  font-weight: normal;
  font-style: normal;
}


.logo{
width: 8rem;
margin-top: 0.8rem;
}

.NavContainer {
    padding: .4rem;
    background-color: #00aaf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
}

.NavContainerDark {
  padding: .4rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
}

.h2 {
  font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-left: 0.5rem;
}

.aDark {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 1rem;
  display: block;
}

.aDark:hover{
  color: #00aaf8;
}

.a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 1rem;
    display: block;
}

.a:hover {
  color: #0e1822;
}

.links {
    position: absolute;
    top: -1000px;
    right: -1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

 .linksActive {
    width: 100%;
    display: block;
    position: absolute;
    margin-left: 6rem;
    margin-right: auto;
    top: 11%;
    left: 1%;
    right: 0;
    text-align: center;
    transition: all .1s ease-in;
  }

  .linksActive a {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 8rem;
    font-size: 18px;
    margin-top: 0.5rem;
    margin-left: 8.5rem;
    color: rgb(255, 255, 255);
    z-index: 10;
  }

  .BgDiv {
    position: absolute;
    background-color: #00aaf8;
    top: -1000px;
    right: -1000px;
    width: 50%;
    height: 18%;
    z-index: 9;
    transition: all .1s ease-in;
  }

  .BgDivDark {
    background-color: #333;
  }

  .active {
    top: 4.2rem;
    right: 0;
    width: 40%;
    height: 12%;
  }

@media (min-width: 768px) {

  @font-face {
    font-family: "HighVoltage Heavy Rough";
    src: url("../assets/Vampire\ Wars.ttf") format("truetype");
    /* Agrega más formatos de archivo si es necesario */
    font-weight: normal;
    font-style: normal;
  }

  .navFixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  

  .logo{
    width: 10rem;
    margin-top: 0.6rem;
  }

  .NavContainer {
    padding: 1rem;
    background-color: #00aaf8;;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .burguer {
    display: none;
  }

  .links {
    position: initial;
    margin: 0;
    margin-right: 20rem;
  }
 .h2 {
  margin-left: 8.5rem;
  font-size: 2rem;
 }

 .a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 1rem;
  font-size: 2rem;
  display: inline;
}

.aDark {
  color: #ffffff;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 2rem;
  display: inline;
}

.BgDiv {
  position: absolute;
  background-color: #464545;
  top: -1000px;
  right: -1000px;
  width: 50%;
  height: 18%;
  z-index: 9;
  transition: all .1s ease-in;
}

.active {
  top: 4.1rem;
  right: 0;
  width: 50%;
  height: 18%;
}

}