.searchContainer {
    display: flex;
    justify-content: center;
    margin-top: -3rem;
}

.searchBox {
    position: relative;
}

.searchButton {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
}

.searchInput {
    width: 15rem;
    height: 20px;
    border-radius: 8px;
    padding: 5px 30px 5px 10px;
    font-size: 1.2rem;
    border: 1px solid #0e1822;
}

.searchInput:focus,
.searchButton:focus {
    outline: none;
    border: 1px solid #00aaf8;
    box-shadow: 0 0 5px #00aaf8;
}

@media (max-width: 560px) { 
    .searchContainer {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
}
